.ds-card-comment {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: min(100%, 280px);
  min-height: 146px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-blue);
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

.ds-card-comment p {
  font-size: 16px;
  padding-left: 10px;
  flex: 1;
}

@media (min-width: 330px) {
  .ds-card-comment {
    max-width: 960px;
    min-height: 74px;
  }
}
