@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #c8c8c8;
  --color-bg-tertiary: #3c9af0;

  --color-hd-primary: #3c9af0;

  --color-font-white: #fff;
  --color-font-blue: #3c9af0;
  --color-font-gray: #5e5e5e;

  --color-border: #3c9af0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

html,
body {
  background-color: var(--color-bg-primary);
}

.ds-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ds-card-container h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: var(--color-font-gray);
}

.ds-comments-section-container {
  height: 692px;
  background-color: var(--color-bg-secondary);
}

@media (min-width: 320px) {
  .ds-card-container h2 {
    font-size: 32px;
  }
}
